<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webengage.pushtemplates">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name=".Services.NotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.webengage.push.PROGRESS_BAR" />
            </intent-filter>
        </service>
        <receiver android:name=".Receivers.PushIntentListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.webengage.push.delete" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>